{% extends 'base.html.twig' %}

{% block title %}Flight index{% endblock %}

{% block body %}
    <h1>Flight index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Heures de vol</th>
                <th>Heures de sol</th>
                <th>Escale</th>
                <th>Livre de vol ?</th>
                <th>LPE ?</th>
                <th>Paiement</th>
                <th>Réglé ?</th>
                <th>Départ</th>
                <th>Arrivée</th>
                <th>Date</th>
                <th>Fuel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for flight in flights %}
                <tr>
                    <td>{{ flight.id }}</td>
                    <td>{{ flight.flightTime }}</td>
                    <td>{{ flight.floorTime }}</td>
                    <td>{{ flight.escaleLocation }}</td>
                    <td>{{ flight.isFlightBook | badge_bool }}</td>
                    <td>{{ flight.isLPE | badge_bool }}</td>
                    <td>{{ paymentsLabel[flight.paymentType] }}</td>
                    <td>{{ flight.isPaid ? 'Oui' : 'Non' }}</td>
                    <td>{{ flight.startAt ? flight.startAt|date('H:i') : '' }}</td>
                    <td>{{ flight.endAt ? flight.endAt|date('H:i') : '' }}</td>
                    <td>{{ flight.day ? flight.day|date('Y-m-d') : '' }}</td>
                    <td>{{ flight.fuel }}L</td>
                    <td>
                        <a class="btn btn-sm btn-primary" href="{{ path('flight_show', {'id': flight.id}) }}">Voir</a>
                        <a class="btn btn-sm btn-primary" href="{{ path('flight_edit', {'id': flight.id}) }}">Editer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="14">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('flight_new') }}">Create new</a>
{% endblock %}